@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* This accounts for fixed header height */
  }
  
  body {
    @apply scrollbar-gutter-stable;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
  
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 xl:max-w-[1320px];
  }

  /* Ensure content is visible during SSR */
  .motion-safe:initial {
    opacity: 1 !important;
    transform: none !important;
  }
}

@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

/* For Webkit browsers like Chrome/Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border: 3px solid transparent;
  border-radius: 9999px;
  background-clip: content-box;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}
